/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
html.chrome .bx-wrapper .bx-loading{
display: none;
}
.page-id-479867 .fl-module-uabb-photo .uabb-photo-content  img{
	min-height: 310px;
	max-height: 310px; 
}
html.chrome .fl-content-slider .bx-wrapper .fl-slide{
visibility: visible;
}

html.firefox .bx-wrapper .bx-loading{
display: none;
}
html.firefox .fl-content-slider .bx-wrapper .fl-slide{
visibility: visible;
}

.searchIcon {
    position: absolute;
    right: 10px;
    top: 25px;
}
.contact-us-sec .fl-icon {
    width: 20px;
}
.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    background: #c9c1b4;
}
.searchIcon .fl-icon .ua-icon-search{
    cursor: pointer;
}
.searchIcon .fl-icon .ua-icon-search:before{
    font-size: 22px !important;
    vertical-align: top !important;
}
.headerMain .fl-col-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.social-icons li a:hover i{
    color: #ccc1a8 !important;
}
.fl-slide-0, .fl-slide-1, .fl-slide-2, .fl-slide-3, .fl-slide-4, .fl-slide-5, .fl-slide-6, .fl-slide-7 {
    display: flex !important;
    align-items:center;
    justify-content: center;
}
.fl-content-slider .fl-slide:not(.fl-slide-0)  .fl-slide-bg-link{
    background: rgba(0,0,0,0.3);
}
.headerMain .fl-row-fixed-width .fl-col-group:nth-child(2){
    position: relative;
}
.fullWidthBanner img {
    width: 100%;
}
.phone>a {
    font-weight: 400;
    color: #096321;
}
.product-row .fl-post-grid-image>a .exlusive-badge {
    left: 50px;
}
.iscwp-gallery-slider .slick-dots li button {
    border: 1px solid #949494;
}

.iscwp-gallery-slider .slick-dots li.slick-active button {
    background: #949494;
}
.fl-page-bar-text  font{
    text-transform: uppercase;
}
.wpsisac-slick-carousal.design-6 .slick-prev{
    left: -40px !important;
}
.wpsisac-slick-carousal.design-6 .slick-next{
    right: -40px !important;
}
.product-box h1{
    font-size: 30px !important;
}
.fl-post .fl-post-image-beside{
    width: 100%;
}
.headerRightNav .fl-col-content.fl-node-content{
    position: relative;
}
.gform_wrapper .gfield_checkbox li input, 
.gform_wrapper .gfield_checkbox li input[type=checkbox]{
    margin-top: 2px !important;
    margin-right: 5px;
} 
.fl-module-uabb-gravity-form .uabb-gf-style .gform_body .ginput_container_checkbox .gfield_checkbox li{
    display: flex;
}
.phone-wrap .storename{
    display:inline-block;
}
#menu-top-bar-menu .storename .phone span:before{
    content: "\f1f8";
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    font-size: 20px;
    margin-right: 5px;
    vertical-align: middle;
} 
.FloorteBtn .fl-button-wrap a.fl-button{
    background: #096321!important;
    color: #fff;
    border: 1px solid #096321!important;
}  
.FloorteBtn .fl-button-wrap a.fl-button:hover,
.FloorteBtn .fl-button-wrap a.fl-button:hover>*{
    background: #ccc1a8!important;
    color: #fff !important;
    border: 1px solid #ccc1a8!important;
} 
.easy-to-love-sec .fl-col-content.fl-node-content{
    max-height: 389px;
    min-height: 389px;
}
#product-images-holder.colorwall-exlusive-batch .popup-imgs-holder .main-imgs img{
    width: 450px;
    height: 450px;
}
.font-0 .fl-module-content.fl-node-content{
    margin: 0;
}
.font-0 .fl-module-content.fl-node-content h1{
    font-size: 0;
}
@media(min-width:992px) and (max-width:1100px){
    .style-product_list .pro-container> .row> .col-md-7{
        flex: 0 0 57.33333%;
        width: 57.33333%;
    }   
    .style-product_list .pro-container> .row> .col-md-5{
        flex: 0 0 41.6666%;
        width: 41.6666%;
    }
    .style-product_list .pro-container .pro-details .button-wrapper a.button {
        min-width: auto;
        width: auto;
    }
}

@media(max-width:1024px) {
    .fl-node-5d08ac826d1d6 .uabb-creative-menu .menu>li {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .headerMain .headerRightNav {
        margin-left: 30px;
    }
    .easy-to-love-sec .easy-to-love-heading .fl-rich-text p{
        font-size: 33px;
    } 
    .easy-to-love-sec .fl-col-content.fl-node-content .fl-module-rich-text:nth-child(1) .fl-module-content.fl-node-content{
        margin-top: 20px;
    }
    .easy-to-love-sec .fl-col-content.fl-node-content{
        max-height: 311px;
        min-height: 311px;
    }
    .fl-node-5d08ac826d1d6 .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {
        padding: 10px 8px !important;
    }
    .coretec-below-para .fl-rich-text p{
        font-size: 20px;
    }
}
@media(max-width: 992px) {
	.style-list .back-button {
    	top: 0px!important;
	}
}

@media(max-width:768px) {
.easy-to-love-sec .fl-col-content.fl-node-content {
    max-height: none!important;
}
	.max-width-issue{
		max-width: 360px!important;
	}
	.max-width-issue img{
		width: 360px!important;
	}
	.home_slider .fl-slide-mobile-photo {
    	width: 100%!important;
	}
    .searchIcon {
        position: static;
    }
    .max-width-issue{
        max-width: 400px !important;
        margin: 0 auto !important;
    }
    .product-row>div.col-md-3:nth-child(3n+1) {
        clear: left !important;
    }

    .headerMain .fl-col-group {
        display: flex;
        align-items: center;
    }
    .product-row .fl-post-grid-image>a .exlusive-badge {
        left: 15px;
    }
    .headerMain .headerRightNav {
        margin: 0;
    }

    .headerMain .headerLogo {
        flex: 2;
        margin-left: 0;
    }
    .headerMain .headerRightNav ~ .fl-col-small.fl-visible-mobile{
        margin-right: 0;
    }
    #responsive-menu-additional-content .storename{
        margin-top: 10px;
    }
    #responsive-menu-additional-content div.phone{
        text-align: center;
    }
    #responsive-menu-additional-content div.phone:before{
        content: "\f095" !important;
        color: #096321; 
        font: normal normal normal 18px/1 FontAwesome;
        font-weight: 900;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        margin-right: 10px !important;
        vertical-align: middle;
    }
    .headerLogo .fl-photo-content img{
        max-width: 90%;
    }
    
    /* .headerMain .phone.retailer {
        font-size: 26px;
        color: #42291d;
        margin-right: 30px;
        vertical-align: middle;
        font-family: 'Ultimate-Icons' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    } */

    /* .headerMain .phone.retailer:before {

        content: "\ea3e";

    }*/
    .headerMain .phone.retailer span{
        font-size: 0;
    }

    .iPadFooter .fl-col-group {
        display: flex;
    }

    .iPadFooter .fl-col-group .fl-col {
        flex: 1;
    }

    ul#menu-copyright-bar-menu {
        display: flex;
    }

    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col {
        flex: 3;
    }

    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col:nth-child(2) {
        flex: 1;
    }
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 33.33%;
    }
    
    .galleryImages .uabb-photo-gallery {
        display: flex;
        flex-wrap: wrap;
    }
    .wpsisac-slick-carousal.design-6 .slick-prev{
        left: -20px !important;
    }
    .wpsisac-slick-carousal.design-6 .slick-next{
        right: -20px !important;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0;
    }
}

@media(max-width:767px) {
    .highlightPoits .fl-col-group .fl-col {
        width: 100% !important;
    }
    .highlightPoits .fl-col-group .fl-col .fl-col-content {
        border: 0;
    }
    .headerRightNav .fl-node-5d230a5e00677 .fl-rich-text >p{
        margin-bottom: 0 ;
    }
    ul#menu-about-us li,
    ul#menu-inspiration-menu li,
    ul#menu-flooring-menu li{
        text-align: left;
    }
}
@media(max-width:480px) {    
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
    }
    .location-top .fl-button{
        text-align: unset;
    }
    .fl-node-5d1f5d4b47fe6 div.uabb-image-carousel .slick-next{
        right: 20px;
    }
    .fl-node-5d1f5d4b47fe6 [dir='rtl'] div.uabb-image-carousel .slick-prev{
        left: 20px;
    }
    .iPadFooter .fl-col-group{
        flex-direction: column;
    }
    .iPadFooter .fl-col-group .fl-col{
        flex: 2;
        width: 100% !important;
        text-align: center;
    }
    ul#menu-copyright-bar-menu{
        justify-content: center;
    }
    .product-row .fl-post-grid-image>a .exlusive-badge {
        left: 85px;
    }
}
@media (max-width:500px){
    .uabb-photo-gallery .uabb-photo-gallery-item,
    .uabb-masonary .uabb-masonary-item{
        width: 100%;
    }
    div.fl-row-custom-height  > .fl-row-content-wrap{
        min-height: 400px;
    }
    .headerLogo .fl-photo-content img{
        max-width: 75%;
    }
    button#responsive-menu-button {
        top: 20px !important;
    }
}